@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}
ul {
  list-style-type: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #373737;
  color: #fff;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bolder;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: rgb(170, 170, 170);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.ui-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  border: 1px solid;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 0 auto;
  height: auto;

  max-width: 100%;
}
.rows-3 {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  max-height: 450px;
  max-width: 450px;
  margin: 10px;
}
.rows-vs-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  margin: 10px;
  font-size: 200%;
}
.ui-name {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.ui-rsp-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 500%;
  height: 300px;
  width: 300px;
  margin: 10px;
  border: 1px solid;
}
.ui-rsp-choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.ui-rsp-choose.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.ui-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  min-height: 45px;
}

input {
  --tw-shadow: 0 0 #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-radius: 0;
  border-width: 1px;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 0.75rem;
  margin: 5px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 4px;
}

.btn.small {
  font-size: 1rem;
  padding: 0.1rem 1rem;
}

.choose {
  padding: 1px 5px;
}

.btn:hover {
  background-color: #ccc;
}

.btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.ui-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  font-size: 200%;
  margin: 10px;
}
.ui-alert.msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90%;
  margin: 10px;
}

.win {
  color: rgb(39, 169, 6);
}

.defeat {
  color: rgb(180, 4, 4);
}
.ui-balance {
  font-size: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hide {
  display: none;
}

.footer {
  background: #373737;
  color: #fff;
  height: 60px;
  margin-top: 110px;
}

.footer ul {
  display: flex;
}
.footer a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer a:hover {
  color: rgb(170, 170, 170);
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}
.modal.active {
  transform: scale(1);
}
.modal-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(48, 48, 48);
  height: 600px;
  width: 600px;
}
