@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Press Start 2P', sans-serif;
  color: #eee;
  background-color: #222;
  /* background-color: #60b347; */
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #373737;
  color: #fff;
  height: 60px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: bolder;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar a:hover {
  color: rgb(170, 170, 170);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.ui-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  border: 1px solid;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 0 auto;
  height: 1100px;

  max-width: 100%;
}
.rows-3 {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  border: 2px dotted;
  max-height: 450px;
  max-width: 450px;
}
.rows-vs-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
  margin: 10px;
  font-size: 200%;
}
.ui-name {
  display: flex;
  justify-content: center;
}
.ui-rsp-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 500%;
  height: 300px;
  width: 300px;
  margin: 10px;
  border: 2px dotted;
}
.ui-rsp-choose {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
}
.ui-control-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  min-height: 45px;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.choose {
  padding: 1px 5px;
}

.btn:hover {
  background-color: #ccc;
}

.ui-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 45px;
  font-size: 200%;
  margin: 10px;
}

.win {
  color: rgb(39, 169, 6);
}

.defeat {
  color: rgb(180, 4, 4);
}
